{% include 'top.html' %}
<div id="content">
    <div id="container">
        <h1 class="page-title">Report prerequisites</h1>
        <table class="pure-table">
            <thead>
                <tr><th>UOS</th><th>Number of Prerequisites</th></tr>
            </thead>
            <tbody>
                {% for prerequisite in prerequisites %}
                    <tr>
						<td> {{prerequisite[0]}}</td>
                        <td> {{prerequisite[1]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
