{% include 'top.html' %}

<div class="content">
    <div class="container details">
        <p>  </p>
        &ensp;
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <h2 class="title"> Failed to add Staff Member :( </h2> 
        <p>  </p>
        &ensp;
        <h4 class="title"> Please make sure you: </h4>
        <h6 class="title"> 1. Fill all sections appropriately </h6>
        <h6 class="title"> 2. Set the salary to a positive integer </h6>
        <p>  </p>
        <p>  </p>
        <a class="btn btn-outline-primary" href="{{ url_for('add_staff')}}">Go Back</a>
    </div>
</div>
</body>
</html>