{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <p>  </p>
        &ensp;
        <p>  </p>
        <h2 class="title"> Add Staff Member </h2> 
        <form class="Add" method="POST" action="{{url_for('add_staff')}}">

            <div class="form-group">
                <label class="control-label" for="focusedInput">Full Name</label>
                <input type="text" class="form-control" id="username" name="name" placeholder="John Smith" autofocus required>
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Department</label>
                <input type="text" class="form-control" id="username" name="department" placeholder="SIT" autofocus required>
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Password</label>
                <input type="password" class="form-control" id="focusedInput" name="password" placeholder="not1234" autofocus required>
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Address</label>
                <input type="text" class="form-control" id="username" name="address" placeholder="Darlington" autofocus required>
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Salary</label>
                <input type="text" class="form-control" id="username" name="salary" placeholder="90000" autofocus required>
            </div>
            <p>  </p>
            &nbsp;
            <button type="submit" class="btn btn-outline-primary ">Add</button>
        </form>
    </div>
</div>
<style>
    .form-control {
        border-color: rgb(68,108,179);
    }
</style>
</body>
</html>




