{% include 'top.html' %}
<div id="content">
    <div id="container">
        <h1 class="page-title">Academic Staff - Lecturers</h1>
        <table class="table table-bordered" style="border-collapse:collapse;">
            <thead>
                <tr><th>Staff ID</th><th>Staff Name</th><th>Department</th><th>Address</th></tr>
            </thead>
            <tbody>
                {% for staff, units in staffUnits.items() %}
                    <tr data-toggle="collapse" data-target="#accordion{{ staff }}" class="clickable collapse-row collapsed">
						<td> {{staff[0]}}</td>
                        <td> {{staff[1]}} </td>
                        <td> {{staff[2]}} </td>
                        <td> {{staff[3]}} </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="hiddenRow">
                            <div id="accordion{{ staff }}" class="collapse">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr><th>UOS Code</th><th>UOS Name</th><th>Semester</th><th>Year</th></tr>
                                    </thead>
                                    <tbody>
                                        {% for unit in units %}
                                            <tr>
                                                <td> {{unit[0]}}</td>
                                                <td> {{unit[1]}} </td>
                                                <td> {{unit[2]}} </td>
                                                <td> {{unit[3]}} </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');
    });
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .collapse-row.collapsed + tr {
        display: none;
    }
    .hiddenRow {
        padding: 0 !important;
    }
</style>
</body>
</html>  
