<!DOCTYPE html>
<html>
    <head>
        <!-- this goes to the 'static' folder and grabs our CSS -->
        <!-- [Brief Intro:] CSS is how we make the websites look nicer -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <!-- Generating the menu and what happens when the user is logged in VS logged out -->
        <div id="header" class="pure-menu pure-menu-horizontal">
            <a href="/" class="pure-menu-heading pure-menu-link">UniDB</a>
            {% if session.logged_in %}
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{ url_for('list_units') }}" class="pure-menu-link">All Units</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('transcript') }}" class="pure-menu-link">Transcript</a></li>

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="{{ url_for('list_academicstaff') }}" class="pure-menu-link">AcademicStaff</a>
                  <ul class="pure-menu-children"> 
                    <li class="pure-menu-item">
                      <a href="{{ url_for('search_academicstaff') }}" class="pure-menu-link">Search</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('count_academicstaff') }}" class="pure-menu-link">Count</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('add_academicstaff') }}" class="pure-menu-link">Add</a>
                    </li>
                  </ul>  
                </li>

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="{{ url_for('list_prerequisites') }}" class="pure-menu-link">Prerequisites</a>
                  <ul class="pure-menu-children"> 
                    <li class="pure-menu-item">
                      <a href="{{ url_for('search_prerequisites') }}" class="pure-menu-link">Search</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('report_prerequisites') }}" class="pure-menu-link">Report</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('add_prerequisites') }}" class="pure-menu-link">Add</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('check_uos_eligibility') }}" class="pure-menu-link">UOS Eligibility</a>
                    </li>
                  </ul>  
                </li>

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="{{ url_for('list_prohibitions') }}" class="pure-menu-link">Prohibitions</a>
                  <ul class="pure-menu-children"> 
                    <li class="pure-menu-item">
                      <a href="{{ url_for('check_uos_eligibility') }}" class="pure-menu-link">UOS Eligibility</a>
                    </li>
                  </ul>  
                </li>
                
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="{{ url_for('list_lectures') }}" class="pure-menu-link">Lectures</a>
                  <ul class="pure-menu-children"> 
                    <li class="pure-menu-item">
                      <a href="{{ url_for('search_lectures') }}" class="pure-menu-link">Search</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('count_lectures') }}" class="pure-menu-link">Count</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('add_lectures') }}" class="pure-menu-link">Add</a>
                    </li>
                  </ul>  
                </li>

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="{{ url_for('classroom_registry') }}" class="pure-menu-link">Classrooms</a>
                  <ul class="pure-menu-children"> 
                    <li class="pure-menu-item">
                      <a href="{{ url_for('classroom_registry') }}" class="pure-menu-link">Registry</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('classroom_summary') }}" class="pure-menu-link">Summary</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('add_classroom') }}" class="pure-menu-link">Add</a>
                    </li>
                    <li class="pure-menu-item">
                      <a href="{{ url_for('search_classrooms') }}" class="pure-menu-link">Search</a>
                    </li>
                  </ul>  
                </li>


                <li class="pure-menu-item"><a href="{{ url_for('logout')}}" class="pure-menu-link">Logout</a></li>
            </ul>
            {% endif %}
            <div id="top-unikey">{{ page.unikey }}</div>
        </div>
        <!--
            This is for our flashed messages
            Whenever we use flash('message in here')
            it will come out inside this list
        -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
