{% include 'top.html' %}
<div id="content">
    <div id="container">
        <h1 class="page-title">Update textbook</h1>

        <form class="pure-form pure-form-stacked login" method="POST" action="{{ url_for('update_textbook') }}">
            <h4>Update textbook for a unit:</h4>
            <h5>Note: Given unit must be in the list of UOSs<h5>
            <input type="text" name="uos" placeholder="UOS code" required>
            <input type="text" name="textbook" placeholder="Name of textbook" required>
            <input class="pure-button pure-button-primary" type="submit">
        </form>
    </div>
</div>
</body>
</html>